
body, html {
  height: 100%;
  margin: 0;
  position: relative;
  color: #3D383B;
}

.navbar-brand {
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 51px;
}

nav {
  border-bottom: 0.5px solid #E5E5E5;
;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #3D383B;
  text-align: bottom;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover:not(.active) {
}

 nav .nav-items li a::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #E08184;
}

nav .nav-items li a:hover::after {
    width: 100%;
}

.nav-items {
  float: right;
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin-top: 20px
}



div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

.column.sidebar {
  width: 20%;
}

.column.gallery {
  width: 80%;
}

