
body, html {
  height: 100%;
  margin: 0;
  position: relative;
  color: #3D383B;
}

a, p, h1, h2, h3, h4, h5 {
  color: #3D383B;
}

h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: lighter;
  font-size: 38px;
  line-height: 45px;
  display: flex;
  align-items: flex-end;
}


.navbar-brand {
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 51px;
}

nav {
  border-bottom: 0.5px solid #E5E5E5;
}


.image-banner {
  background-image: url("../assets/images/header_images/image4.png");
  height: 345px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text h1 {
  color: white;
  font-size: 65px
}

.sidebar {
  font-family: "Helvetica Neue";
}

.sidebar h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  margin-left: 10px;
  width: 100%
}

.sidebar ul li a:hover {
  opacity: .7
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #3D383B;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover:not(.active) {
}

 nav .nav-items li a::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #E08184;
}

nav .nav-items li a:hover::after {
    width: 100%;
}

.nav-items {
  float: right;
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin-top: 20px
}


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  text-align: left;
  font-family: "Helvetica Neue";
  font-style: normal;
  line-height: 10px;
  letter-spacing: 0.1em;
}

div .desc .card-title {
  font-weight: 500;
  font-size: 13px;

}

div .desc .card-subtitle {
  font-weight: normal;
  font-size: 12px;
}


* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 32%;
  margin: 6px 0;

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 100%;
  float: left;
  display: block;
}

.column {

  float: left;
  display: inline-block;
  background-color: white;
}

.column.c100 {
  width: 100%;
}

.column.c90 {
  width: 90%;
}

.column.c80 {
  width: 80%;
}

.column.c70 {
  width: 70%;
}

.column.c60 {
  width: 60%;
}

.column.c50 {
  width: 50%;
}

.column.c40 {
  width: 40%;
}

.column.c30 {
  width: 30%;
}

.column.c20 {
  width: 20%;
}

.column.c10 {
  width: 10%;
}

.column.sidebar {
  width: 25%;
}

.column.gallery {
  width: 75%;
}

#cart {

}

.column.c60.image_pouf {
  background-image: url("../assets/images/product_images/pouf.jpg");
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.column.c60.image_decorative_pillow {
  background-image: url("../assets/images/product_images/image9-1.png");
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.column.c40.detail {
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.column.c60.about {
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.column.c60.about {
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header .column.c50.image {
  background-image: url("../assets/images/header_images/image5.png");
  height: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.blue-background {
  background-color: #F0F5F8;

}

.header .column.c50.blue-background {
  height: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.index-page.banner-text {
  width: 80%;
  text-align: center;
}

p.subtitle {
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.1em;

  color: #3D383B;
}

.index-page.banner-text h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 62px;
  text-align: center;

  color: #3D383B;
}


a.button { 

  text-decoration: none;
  display: block;
  margin: auto;
  background: #3D383B;
  border-radius: 5px;
  padding: 20px 50px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #FFFFFF;
  text-align: center;
} 

#cart a.button {
  width: 100%;
  margin: 40px 0px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

a.button:hover {
  background-color: #181618;
}

.content {
  float:left;
  margin: 40px;
}

.responsive.bestsellers{
  padding: 0 6px;
  float: left;
  width: 24.9%;
  margin: 10px 0;
}

.footer {
  float: left;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3D383B;
  text-align: center;
}

.footer h3 {
  font-family: "Ropa Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 39px;
  /* identical to box height */


  color: #FFFFFF;
}

.accordion {
  display: block;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.product-detail * {
  float: left;
  position: relative; 
}

button.accordion {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #3D383B;
  text-transform: uppercase;
  border-top: 0.5px solid #A19B90;
}

button.accordion.last {
  border-bottom: 0.5px solid #A19B90;
}

div.detail-page.text {
  float: left;
  padding: 20px 40px;
}

.detail-page h1 {
  width: 100%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;

  color: #3D383B;
}

.detail-page p.reviews, .detail-page p.details-subtitle {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #A19B90;
}

.detail-page p i {
  color: #E08184;
}

.detail-page p.details-subtitle {
  margin-top: 18px
}

.detail-page p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;

  color: #3D383B;
}

.color-select p {
  width: 100%
}

.product-accordion {
  margin: 40px 0;
  width: 100%
}

.color-select {
  margin: 10px 0px 40px 0px;
  display: block;
  width: 100%
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #00338B;
  border-radius: 50%;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.dark-blue {
  background-color: #00338B;
  color: #00338B;
}

.yellow {
  background-color: #FDD154;
  color: #FDD154;

}

.pink {
  background-color: #FCCAC6;
  color: #FCCAC6;
}

.light-blue {
  background-color: #B9DAE9;
  color: #B9DAE9;

}

#cart.form-group {
  width: 110px;
  margin: 30px;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.product-detail ul li p{
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  margin-left: 10px;

}


#cart .cart {
  border-top: 0.5px solid #E5E5E5;
}

.cart-totals {
  padding-left: 75px;
}

.cart-totals .card {
  padding: 0px 10px;
}

table, th, td {
  border: 0px;
  border-collapse: collapse;
  font-family: "Helvetica"
}

table {
  width: 100%
}

th, td {
  text-align: left;
}

th {
  padding: 18px 10px;
}

td {
  padding: 7px 10px;
}

table td:last-child, table tfoot th:last-child {
 text-align: right;
}


tfoot {
  border-top: 0.5px solid #E5E5E5;
}

tfoot, thead {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

tbody {
  font-size: 13px 
}

table.show-cart p {
  font-family: "Helvetica";
  font-size: 13px;
  margin: 3px 0;
}

table.show-cart h2 {
  font-family: "Helvetica";
  font-size: 13px;
  font-weight: bold;
  margin: 3px 0;

}

button.delete-item.clear-cart {
  background-color: white; /* Green */
  border: none;
  padding: none;
}

button.delete-item.clear-cart i {
  font-size: 16px;
  font-weight: bold;
}

button.plus-item, button.minus-item {
  background-color: #E7E7E7; /* Green */
  border: 0.5px solid #E5E5E5;
  height: 30px;
    line-height: 1.25;

}

button.plus-item i, button.minus-item i {
  font-size: 12px;
  font-weight: bold;
}

.show-cart td.cart-item-img {
  width: 100px;
  padding: none;
}

.show-cart td.cart-item-name {
  width: 325px;
}

.show-cart td.cart-item-total, .show-cart td.cart-item-clear {
  max-width: 100px;
  text-align: right;
}


.show-cart td.cart-item-count {
  min-width: 110px;
}

.show-cart input {
  height: 30px;
  border: 0.5px solid #E5E5E5;
  width: 30px;
  margin: 0px;
  padding: 5px;
  display: inline-block;
  line-height: 1.25;
}

.show-cart a {
  text-decoration: none;
}













