.hero-text {
    font-family: Roboto Mono;
    font-style: bold;
    font-weight: normal;
    font-size: 200px;
    line-height: 180px;
    letter-spacing: 0.05em;
    margin-top: 0px;

}

#header-icon {
    margin: 10px;
}
#header-icon svg {
    width: 100px;
}

.pink-outline {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #DAA797;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-text {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero-text {
    font-size: 100px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero-text {font-size: 100px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero-text {
        font-size: 200px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero-text {    
        font-size: 200px;
    }
}
/*

.navbar-nav {
    margin-left: 80px;
    margin-top: 40px;
}

.navbar {
    padding-top: 150px
}*/

a.nav-link {
    padding: 4px 8px;
}

.navbar-toggler {
    position: absolute;
    float: right;
    top: 50px;
}


.list-inline-svg {
    width: 42px;
    height: 72px;
    display: inline-block;
    margin-right: .5rem;
}

.list-inline-svg i {
}

.list-inline-svg svg {
    padding-bottom: 10px;
    fill:  #D2D2D2;
}

.list-inline-svg svg:hover {
    fill: white ;
}

#experience .section-header {
    margin-top: 60px;
    margin-bottom: 50px
}

.text-offwhite {
    color: #E5E5E5
}


span.strikethrough {
  position: relative;
  display: block;
  cursor: pointer;
  width: fit-content;
}

span.strikethrough:before, span.strikethrough:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background: #DAA797;
}

span.strikethrough:before {
  left: -2.5px;
}
span.strikethrough:after {
  right: 2.5px;
  background: #DAA797;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span.strikethrough:hover:before {
  background: #DAA797;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span.strikethrough:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}





span.overlay-strikethrough {
  position: relative;
  display: block;
  cursor: pointer;
  width: fit-content;
}

span.overlay-strikethrough:before, span.overlay-strikethrough:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 10px;
  top: 50%;
  margin-top: -0.5px;
  background: #C2511C;
}

span.overlay-strikethrough:before {
  left: -2.5px;
}
span.overlay-strikethrough:after {
  right: 2.5px;
  background: #C2511C;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span.overlay-strikethrough:hover:before {
  background: #C2511C;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span.overlay-strikethrough:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}



/*NAVIGATION OVERLAY*/

.nav-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
}

.nav-container p {
  font-size: 20px;
}

.nav-container a {
  display: inline-block;
  position: relative;
  text-align: left;
  color: #C2511C;
  text-decoration: none;
  overflow: hidden;
  top: 5px;
}

.nav-container a:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-transition: .35s ease;
  transition: .35s ease;
}

.nav-container a:hover:after,
.nav-container a:focus:after,
.nav-container a:active:after {
  width: 100%;
}

.header {
    /*margin: 30px;*/
}

.container {
    position: fixed;
    top: 80px;
    left: 0;
    max-width: 100%;
    padding:0px 80px;
/*    z-index: -1
*/}

.button_container:hover {
  opacity: 1;
}


.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  -ms-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #C2511C;
}

.button_container.active .middle {
  opacity: 0;
  background: #C2511C;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #C2511C;
}

.button_container span {
  background: #DAA797;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}


.button_container span:nth-of-type(2) {
  top: 11px;
  width: 60%;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2315E6;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  text-transform: uppercase;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}

.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: .55s;
  animation-delay: .55s;
}

.overlay a {
    Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;

}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 700;
  text-align: left;
  /*z-index: 999;*/
}

.overlay-menu {
    margin-left: 60px;
    margin-top: 50px;
}

.overlay svg {
    position: fixed;
    bottom: -15px;
    left: -10px;
    width: 105%
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


.row#navbar {
    width: 200px;
}