html, body {
    height: 100%;
}

a {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover, a:active, a:focus {
    color: #000000;
    text-decoration: none;
    /* font-style: italic; */
}

#uno.container-fluid{
    background-color: #FFFDE8;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 2.25em;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 7.5%;
    height: 100%;
    overflow-y: hidden;
}

h3 { 
    font-size: 3.5em; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    letter-spacing: 0.125em;
}

#duo.container{
    letter-spacing: 0.05em;
    color: #000000;
}

#duo-description.col{
    padding-top: 5%;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    border:1px solid #cecece;
    box-shadow: 1px 1px 1px gainsboro;
    border-radius: 0;
}

#duo-image.img-fluid{
    max-width: 75%;
    height: auto;
    box-shadow: 3px 3px 3px #cecece;
}

.tres-card{
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    letter-spacing: 0.05em;
    border:1px solid #cecece;
    box-shadow: 1px 1px 1px gainsboro;
    border-radius: 5px;
}

.tres-title{
    font-size: 1.25em;
    font-weight: bold;
}

.tres-description{
    font-weight: 200;
    font-size: .75em;
}